[submodule "vimfiles/bundle/Align"]
	path = vimfiles/bundle/Align
	url = https://github.com/vim-scripts/Align.git
    ignore = dirty
[submodule "vimfiles/bundle/ctrlp.vim"]
	path = vimfiles/bundle/ctrlp.vim
	url = https://github.com/vim-scripts/ctrlp.vim.git
    ignore = dirty
[submodule "vimfiles/bundle/minibufexpl.vim"]
	path = vimfiles/bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim.git
    ignore = dirty
[submodule "vimfiles/bundle/Tagbar"]
	path = vimfiles/bundle/Tagbar
	url = https://github.com/vim-scripts/Tagbar.git
    ignore = dirty
[submodule "vimfiles/bundle/taglist.vim"]
	path = vimfiles/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
    ignore = dirty
[submodule "vimfiles/bundle/The-NERD-Commenter"]
	path = vimfiles/bundle/The-NERD-Commenter
	url = https://github.com/vim-scripts/The-NERD-Commenter.git
    ignore = dirty
[submodule "vimfiles/bundle/The-NERD-tree"]
	path = vimfiles/bundle/The-NERD-tree
	url = https://github.com/vim-scripts/The-NERD-tree.git
    ignore = dirty
[submodule "vimfiles/bundle/Vundle.vim"]
	path = vimfiles/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
    ignore = dirty
[submodule "vimfiles/bundle/YouCompleteMe"]
	path = vimfiles/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
    ignore = dirty
[submodule "vimfiles/bundle/supertab"]
	path = vimfiles/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "vimfiles/bundle/vim-addon-mw-utils"]
	path = vimfiles/bundle/vim-addon-mw-utils
	url = https://github.com/marcweber/vim-addon-mw-utils
    ignore = dirty
[submodule "vimfiles/bundle/tlib_vim"]
	path = vimfiles/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim
    ignore = dirty
[submodule "vimfiles/bundle/vim-snipmate"]
	path = vimfiles/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
    ignore = dirty
[submodule "vimfiles/bundle/vim-snippets"]
	path = vimfiles/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
    ignore = dirty
[submodule "vimfiles/bundle/LaTeX-Suite-aka-Vim-LaTeX"]
	path = vimfiles/bundle/LaTeX-Suite-aka-Vim-LaTeX
	url = https://github.com/vim-scripts/LaTeX-Suite-aka-Vim-LaTeX
    ignore = dirty
[submodule "vimfiles/bundle/cscope_macros.vim"]
	path = vimfiles/bundle/cscope_macros.vim
	url = https://github.com/vim-scripts/cscope_macros.vim
    ignore = dirty
[submodule "vimfiles/bundle/vim-colorschemes"]
	path = vimfiles/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
    ignore = dirty
[submodule "vimfiles/bundle/vim-misc"]
	path = vimfiles/bundle/vim-misc
	url = https://github.com/xolox/vim-misc
    ignore = dirty
[submodule "vimfiles/bundle/vim-colorscheme-switcher"]
	path = vimfiles/bundle/vim-colorscheme-switcher
	url = https://github.com/xolox/vim-colorscheme-switcher
    ignore = dirty
[submodule "vimfiles/bundle/clang_complete"]
	path = vimfiles/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete
    ignore = dirty
[submodule "vimfiles/bundle/vim-projectroot"]
	path = vimfiles/bundle/vim-projectroot
	url = https://github.com/dbakker/vim-projectroot
    ignore = dirty
[submodule "vimfiles/bundle/vim-cpp-enhanced-highlight"]
	path = vimfiles/bundle/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight
    ignore = dirty
[submodule "vimfiles/bundle/a.vim"]
	path = vimfiles/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim
    ignore = dirty
[submodule "vimfiles/bundle/vim-airline"]
	path = vimfiles/bundle/vim-airline
	url = https://github.com/bling/vim-airline
    ignore = dirty
[submodule "vimfiles/bundle/vim-surround"]
	path = vimfiles/bundle/vim-surround
    url = https://github.com/tpope/vim-surround
    ignore = dirty
[submodule "vimfiles/bundle/vim-fugitive"]
	path = vimfiles/bundle/vim-fugitive
    url = https://github.com/tpope/vim-fugitive
    ignore = dirty
[submodule "vimfiles/bundle/vim-json"]
	path = vimfiles/bundle/vim-json
    url = https://github.com/elzr/vim-json
    ignore = dirty
